<div class='card'>
  <h5 class='card-header'>Foundation Params</h5>
  <div class='card-body'>
    <label class='text-muted mb-0 mt-0'>Statuses</label>
    <div class='technical'>
      <ul>
        <li>In Progress</li>
        <li>Rejected</li>
        <li>Finished</li>
      </ul>
    </div>

    <label class='text-muted mb-0 mt-3'>Consideration Phase</label>
    <div class='technical'>
      Between 7 - 90 days
    </div>
  </div>
</div>