<div class='card'>
  <h5 class='card-header'>Off-Chain Params</h5>
  <div class='card-body'>
    <label class='text-muted mb-0 mt-0'>Quorum</label>
    <div class='technical'>
      2 votes (for now)
    </div>

    <label class='text-muted mb-0 mt-3'>Pass Threshold</label>
    <div class='technical'>
      50%
    </div>

    <label class='text-muted mb-0 mt-3'>Voting Period</label>
    <div class='technical'>
      Between 1 - 7 days
    </div>
  </div>
</div>