<div class='row clearfix pt-3'>
  <div class='col-12 col-md-4 offset-md-4'>
    <%= form_with url: login_submit_path, method: 'post', local: true do %>
      <input type='hidden' name='return_path' value='<%= @return_path || params[:return_path] %>' />
      <% if flash[:error] -%>
        <div class='alert alert-danger'><%= flash[:error] %></div>
      <% end -%>

      <div class='form-group'>
        <input type='email' name='email' class='form-control form-control-lg' placeholder='your@email.com' />
      </div>
      <div class='form-group'>
        <input type='password' name='password' class='form-control form-control-lg' placeholder='password' />
      </div>

      <div class='d-flex justify-content-center'>
        <input type='submit' value='login' class='btn btn-primary' />
      </div>

      <div class='text-center mt-3'>
        <a href='<%= forgot_password_path %>' class='text-muted small'>Forgot your password?</a>
      </div>
    <% end -%>
  </div>
</div>
