<% if @chain.halted? -%>
  <div class='alert alert-warning sync-error-alert d-flex justify-content-between align-items-center'>
    <div>
      <span class='fas fa-fw mr-2 fa-exclamation-triangle'></span>
      Chain appears to be stopped. No new blocks for over
      <%= distance_of_time_in_words( Time.now.utc, @latest_block.timestamp, highest_measure_only: true ) %>!
    </div>
    <a class='btn btn-outline-dark btn-sm' href='<%= namespaced_path( 'halted', pre_path: true ) %>'>Inspect</a>
  </div>
<% else -%>
  <% if !@is_syncing -%>
    <div class='alert alert-warning sync-error-alert'>
      <span class='fas fa-fw mr-2 fa-exclamation-triangle'></span>
      <% if @latest_sync -%>
        No sync for <%= distance_of_time_in_words( Time.now.utc, @latest_sync.timestamp ) %>!
      <% else -%>
        Waiting for first sync...
      <% end -%>
    </div>
  <% end -%>
<% end -%>
