.user-settings {
  .subscription-chain-header {
    border: none;
    margin-top: 40px;
    &:first-child { margin-top: 0; }
  }

  .users-alert-subscription {
    .badge.badge-secondary {
      background-color: $gray-500;
    }
  }
}

.cookie-banner {
  position: fixed;
  bottom: 40px;
  width: 75%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.close {
  height: 20px;
  background-color: #777;
  border: none;
  color: black;
  border-radius: 2px;
  cursor: pointer;
}