.chain-index {
  .chain-list {
    .card:hover {
      background: #FEFEFE;
      border-color: $primary;
    }
    .card-subtitle {
      label { color: $text-muted; margin-bottom: 0; }
    }
  }
}

.chain-notes {
  p:last-child {
    margin-bottom: 0 !important;
  }
}

.chain-show {
  .small-average-block-time-chart-container,
  .small-average-voting-power-last30d-chart-container,
  .small-average-voting-power-last48h-chart-container {
    height: 50px;
  }
  .tiny-average-active-validators-chart-container {
    height: 30px;
    .chartjs-tooltip {
      color: $body-color;
      font-size: 14px;
      font-family: $font-family-monospace;
    }
  }
  .small-average-voting-power-last30d-chart-container {
    display: none;
  }
  .validator-sparkline-switcher {
    margin-top: 4px;
    margin-bottom: 12px;
  }
}
