<% content_for :body_class, 'search-failed' %>

<div class='error-content d-flex justify-content-between align-items-center flex-column'>
  <h1 class='display'>Nothing Found!</h1>
  <p>We couldn't find anything to show you for that search.</p>
</div>
