<div class='comments-container' data-controller='comment'>
  <h3 class="mb-5 text-center">Comments</h3>
  <div class='comments-nav d-flex d-inline-flex justify-content-between w-100'>
    <div class='btn nav-btn new-comment-btn'
      data-action="click->comment#toggleNew"

    >Add A New Comment</div>
    <div class='btn nav-btn collapse-comments-btn'>Collapse Comments</div>
  </div>
  <div class='comments'>
    <% comments.each do |comment| %>
      <%= render partial: '/shared/comments/show', locals: { comment: comment } %>
    <% end %>
  </div>
  <div class='d-none new-comment-container'>
    <%= render partial: '/shared/comments/new', locals: { parent: parent } %>
  </div>
</div>