<div class='text-center text-muted'>
  <h1 class='display-2'><span class='fa fa-thumbs-up'></span></h1>
  <h3 class='display-6'>Thank you for confirming.<br/>Your account is ready!</h3>
  <p class='mt-4'>
    <a href='<%= root_path %>' class='btn btn-primary'>Get Started</a>
  </p>
</div>
