<div class='text-center text-muted'>
  <h1 class='display-1'><span class='fas fa-thumbs-up'></span></h1>
  <h4 class='display-5'>
    You signed up!
    <br/>
    Please check your inbox and confirm your account to log in.
  </h4>
  <p class="display-5">Never got an email? <%= link_to 'Click Here', resend_confirmation_users_path %> to resend.</p>
</div>
