<div class='modal fade' id='undelegate-modal' tabindex='-1' role='dialog'>
  <div class='modal-dialog modal-dialog-centered' role='document'>
    <div class='modal-content'>
      <div class='modal-body'>
        <button type='button' class='close float-right' data-dismiss='modal' aria-label='Close'>
          <span aria-hidden='true'>&times;</span>
        </button>

        <div class='undelegate-step step-choose-wallet text-center p-5'>
          <h3>Choose a Wallet Type</h3>
          <button class='mt-4 btn btn-lg btn-outline-primary choice-ledger'>Ledger</button>
          <button class='mt-4 btn btn-lg btn-outline-primary choice-mathwallet'>Mathwallet</button>
          <button class='mt-4 btn btn-lg btn-outline-primary choice-keplr'>Keplr</button>
        </div>

        <div class='undelegate-step step-error text-center p-5'>
          <h3>An Error Occurred</h3>
          <p>
            Sorry, something went wrong. Please disconnect
            your Ledger, refresh the page, and try again.
          </p>
          <div class='alert alert-danger mt-4 mb-0'>
            <p class='delegation-error mb-0'></p>
          </div>
        </div>

        <div class='undelegate-step step-setup text-center p-5'>
          <h3>Connecting...</h3>
          <p class="ledger-instructions">Connect, unlock, and open the Cosmos app on your ledger.</p>
          <div class='p-4'>
            <span class='fas fa-spin fa-slash text-muted'></span>
          </div>
        </div>

        <div class='undelegate-step step-undelegate text-center py-5 px-3'>
          <h3>Undelegate</h3>

          <form class='undelegate-form mt-3'>
            <div class='d-flex align-items-center'>
              <div class='w-50'>
                <div class='d-flex flex-column mt-3'>
                </div>

                <div class='d-flex flex-column mt-3'>
                  <label class='text-muted mb-0'>From Validator:</label>
                  <select class="form-control from-validator">
                    <option value="null" selected>Select a Validator</option>
                  </select>
                </div>
                
                <div class='d-flex flex-column mt-3'>
                  <label class='text-muted mb-0'>From Address:</label>
                  <span class='account-address text-monospace' style='overflow-wrap: break-word; hyphens: auto;'></span>
                </div>
                <div class='d-flex flex-column mt-3'>
                  <label class='text-muted mb-0'>Account Stake:</label>
                  <span class='account-balance text-monospace'></span>
                </div>
              </div>

              <div class='w-50'>
                <div>
                  <label class='text-muted mb-0 d-inline'>Amount:</label>

                  <div class='d-flex align-items-center justify-content-center'>
                    <input class='form-control undelegate-amount w-third text-monospace' />
                    <span class='ml-2 text-monospace'><%= chain.token_map[@chain.primary_token]['display'] %></span>
                    <!--<button type='button' class='btn btn-outline-secondary btn-tiny set-max ml-2'><span class='fas fa-arrow-up'></span> max</button>-->
                  </div>
                </div>

                <div class='d-flex flex-column mt-3'>
                  <label class='text-muted mb-0'>Transaction Fee:</label>
                  <span class='transaction-fee text-monospace'></span>
                </div>
                <div class='d-flex flex-column mt-3'>
                  <label class='text-muted mb-0'>Total:</label>
                  <span class='transaction-total text-monospace'>&mdash;</span>
                </div>
              </div>
            </div>

            <div class='d-flex justify-content-center'>
              <div class='amount-error alert alert-danger mb-0 mt-5 text-sm'></div>
              <div class='amount-warning alert alert-warning mb-0 mt-5 text-sm'></div>
            </div>

            <div class='text-center'>
              <button type='submit' class='mt-4 btn btn-primary submit-undelegate' disabled>Sign with Ledger</button>
            </div>
          </form>
        </div>

        <div class='undelegate-step step-confirm text-center'>
          <div class='p-5'>
            <h3>Confirm Transaction</h3>
            <p>Review the details on your Ledger and sign the transaction.</p>
            <div class='p-4'>
              <span class='fas fa-spin fa-slash text-muted'></span>
            </div>
            <button class='mt-4 btn btn-sm btn-outline-secondary show-transaction-json'>View Raw Transaction</button>
          </div>
          <div class='transaction-json-container'>
            <pre class='transaction-json text-left'></pre>
          </div>
        </div>

        <div class='undelegate-step step-complete text-center p-5'>
          <h3>Success</h3>
          <p>Undelegate successfully submitted!</p>
          <div class='p-4 text-center'>
            <a class='btn btn-primary view-transaction' href='' target='_blank'>View Transaction</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>