<div class='card'>
  <h5 class='card-header'>
    <div class='card-header-parts'>
      Governance Proposal Activity
      <a class='btn btn-sm btn-outline-light'
         href='<%= cosmos_chain_governance_root_path(@chain) %>'>
       View All
     </a>
  </h5>
  <div class='card-body p-0'>
    <%= render 'cosmos/governance/proposals_table', proposals: @validator.proposals, with_validator: @validator %>
  </div>
</div>
