<h1>Privacy Policy</h1>
<span>Effective Date: May 22, 2019<span>

<h3>When this Privacy Policy Applies</h3>

<p>This Privacy Policy applies to the use of puzzle.secretnodes.org, The Puzzle Report (“App”)
and the use and/or access of any of the products, services or content provided by or on behalf of Secret LLC ("Secret")
in connection with this Privacy Policy is linked or posted together referred to as the “Services”.
Please read this Privacy Policy before using the Services because it tells you how we collect, use and disclose your personal information.</p>
<p>The Services provide software tools for users to access and manage various features and functions related to
digital assets including tokens, cryptocurrencies, virtual currencies or any other digital assets you own
(collectively, “Digital Assets”), including interfacing with certain third party sources for certain information relating to the Digital Assets.</p>

<p>“Puzzle”, “the Puzzle Report”, “Secret”, "Secret Nodes", “we”, “us”, “ours” and similar terms refers to Secret LLC in this Privacy Policy.</p>

<p>This Privacy Policy does not apply to (i) any Puzzle services that has its own privacy policy or a different privacy policy,
in which case that privacy policy, not this privacy policy will apply and (ii) to information that is collected offline
or by any third-party website or services that you access through the Services, who may have separate privacy policies.
These third-party privacy policies will be available on the applicable third-party’s website and you
should review the third-party privacy policies to be sure you understand how third-parties are collecting,
using and disclosing and using your personal information when you use or access Services or access other third-party services.
We are not responsible for third-parties’ collection or use of personal information.</p>

<p>In this Privacy Policy, to “process” information means to perform any operation on the information,
whether or not by automated means, such as collection, recording, organizing, storing, adapting, use,
disclosure, combining, erasing or destroying.</p>

<h3>This Privacy Policy describes:</h3>
<ul>
  <li>What information we collect, how we collect it, and why</li>
  <li>How we use that information and with whom we share it</li>
  <li>How you can access and update that information</li>
  <li>The choices you can make about how we collect, use, and share your information</li>
  <li>How we protect the information we store about you</li>
</ul>

<p>If you do not want us to collect, store, use or share your information in the ways described in this Privacy Policy,
please do not access the App or otherwise access or use the Services. By accessing the App and using or
accessing the Services you consent to this Privacy Policy.</p>

<p>This policy is current as of the date set forth above. However, please note that this policy
may be amended from time to time to reflect changes and additions to the privacy policy.
Please check back for the most current version before relying on any of the provisions in this privacy policy.</p>

<h3>Information We Collect and How We Collect It</h3>

<span>We collect certain information in the following ways:</span>

<h4>Information You Give Us Directly</h4>

<p>We collect some information from you directly. This information may be provided via an online form or
when you talk to a member of our team. For example, you may provide:</p>

<ul>
  <li>Your name, age or birthday, email address, username, address, password, telephone number</li>
  <li>Your current employer and place of work;</li>
  <li>Account preferences;</li>
  <li>Security questions and answers;</li>
  <li>Information linking your account to third-party service providers, including information necessary to track the value of your Digital Assets if you sign up for a Digital Wallet (as described in our Terms of Service);</li>
  <li>Information linking your account to your personal accounts such as Google and Github</li>
  <li>Demographic details and information in response to questions or surveys about our products or information to enter a contest, promotion or sweepstakes;</li>
  <li>The contact information you give in connection with any customer service query, and any communications, information, data or history in relation to any query. We may monitor or record interactions with our customer service team for training purposes and to ensure a high level of service;</li>
  <li>Information, insights or responses to questions provided if you respond to any of our surveys. You may choose whether to participate in any survey; and</li>
  <li>Your mobile telephone number, if you choose to sign up and receive SMS messages or notifications.</li>
</ul>

<p>Certain information that you provide us directly will become public information if you elect to provide it to us,
for example we may use customer reviews for marketing purposes and we may aggregate demographic information about
individuals who use the Services and disclose this aggregate information.</p>

<h4>Information We Collect Automatically When You Use the App or access or use the Services.</h4>

<p>We collect other information about the Services you use and how you use them,
including when and how often you use the Services, what features you used,
how you view and interact with our other content and the devices you use to access the Services.
This information is collected automatically using Cookies and Similar Technology as described below. This information includes:</p>

<ul>
  <li>IP address (including country), which will provide general information about your geographic location;</li>
  <li>The type of computer or mobile device you are using (including your device’s unique identifier);</li>
  <li>Device-specific settings and other hardware settings, including operating system and other software settings,
  browser type, browser language, time zones, and certain cookies or other technologies that may associate your device information with your Puzzle account;</li>
  <li>Browser information including your browser type and the language you prefer;</li>
  <li>Referring and exit pages, including landing pages and pages viewed;</li>
  <li>Information on your wireless and mobile network connection, like your service provider and signal strength;</li>
  <li>Information about your use of the Services, including the date and time you log in, search queries, the date and time of requests and any referral URLs;</li>
  <li>Device event information, including crash reports, request and referral URL’s and system activity details (e.g., whether the error occurred on the App or you lost internet access); and</li>
  <li>We collect other information with your consent.</li>
</ul>

<p>We also may collect and store information locally on your device using mechanisms like cookies, browser web storage and application data caches.</p>

<h4>Information we get from Third-Parties.</h4>

<p>Third parties that assist us with our business operations also may collect information through the Services.</p>

<p>We engage service providers to collect information to help us secure the Services,
detect and prevent fraud, provide a better user experience and ensure the Services are working as expected.
Some of this information is collected through Cookies and Similar Technologies as described below.</p>

<p>We do not currently have advertising in the Services, we may have advertising in the future in
which case we may receive information about you from our advertising partners,
such as when advertising campaigns are published through the Services.</p>

<p>We may also receive information about you if you elect to connect to a third party application through the Services.
The information we receive depends on the third-party application, your privacy settings in that application.
If you connect the Services to a third-party application, you should also read that third-party application’s
terms of services and privacy policy.</p>

<h3>Information we get from Cookies and Similar Technologies.</h3>

<p>We and service providers acting on our behalf store log files and use tracking technologies such as:</p>

<p>Cookies are bits of electronic information that are sent to or transferred from your web browser
or hard drive to customize a person's use of a product or online site, keep records of a user's access
to an online site or product, or store information needed by the user on a regular basis.
A cookie typically contains the name of the domain (internet location) from which the cookie originated,
the “lifetime” of a cookie (or when it expires) and a randomly generated unique number or similar identifier.
A cookie may also contain information about your computer, such as user settings, browser history and
activities conducted while using the Services. A web beacon (also called a pixel tag or clear GIF)
is a piece of computer code that enables us to monitor user activity and website traffic.
To learn more about cookies and web beacons, visit www.allaboutcookies.org</p>

<p>Cookies and similar data collection technology help us improve your experience of the Services.
In the future we may use Cookies to personalize and improve your experience of the Services by, for example,
storing your password so that you do not have to re-enter each time you use the Services,
helping us analyze technical and navigational information about the Services to better understand
how our products are being used, personalizing and tailoring ads to your interest and detecting fraud.</p>

<p>We may link information from cookies with other personal information we hold about you.</p>

<p>The Services use the following Cookies:</p>
<ul>
  <li>Cookies that are strictly necessary for the operation of the Services.</li>
  <li>Analytical/Performance cookies, which allow us to recognize and count the number of visitors,
  learn how visitors navigate the Service and to help us improve the way the Services function.
  For example, When you sign in to the App, we store your user id and a combination of your IP
  address and time of login as a cookie on your hard drive. This cookie allows you to move from
  page to page without having to sign in again on each page.</li>
  <li>Functionality Cookies, which recognize you when you return to the Services.</li>
  <li>Cookies tied to Google Analytics, which is a Google service that collects
  information about use of the Services. Google Analytics does not identify individual services.</li>
  <li>Cookies tied to Appzi and similar services that provide
  information and analytics on the the App’s performance and user experience.</li>
</ul>

<h3>Controlling Cookies</h3>

<p>Some web browsers (including some mobile web browsers) provide settings that allow you to
control or reject cookies or to alert you when a cookie is placed on your computer, tablet or mobile device.
You also may be able to reject mobile device identifiers by activating the appropriate setting on your mobile device.
You are not required to accept cookies or mobile device identifiers, but if you elect to block or reject
them you may not have access to all of the Services.</p>

<h3>Our Policy on Do Not Track Signals</h3>

<p>Some web browsers (including Safari, Internet Explorer, Firefox and Chrome)
incorporate a “Do Not Track” (“DNT”) or similar feature that signals to websites
that a user does not want to have his or her online activity and behavior tracked.
If a website that response to a particular DNT signal, the browser can block that website
from collecting certain personal information about the browser’s use.
Not all browsers offer a DNT option and DNT signals are not yet uniform. For this reason,
many websites, including our website and App do not respond to DNT signals.
To learn more about DNT signals go visit allaboutdnt.com. You may opt out of certain types of tracking,
including certain analytics and tailored advertising by changing your cookie settings.</p>

<h3>Third Party Advertising</h3>

<p>We do not currently have third-party advertising on the App; however, we may have advertising in the future.</p>

<p>Moreover, if you access third-party websites through the App or the Services
you may encounter third-party advertising. If you click-through to a third-party website,
you are no longer on a site hosted by Secret and activity on the third-party site will
be governed by the third-party’s privacy policy. You should review this privacy policy to
understand what information will be collected and what technology the third-party uses to collect this information.</p>

<h3>Third Party Information Sources</h3>

<p>We may supplement the information described above with information we obtain from other sources,
including from both online and offline data providers. We use information from these companies primarily
to deliver optimized content to you and to understand your approximate geolocation via your IP address
to customize certain services to your location.</p>

<h3>Storage of Information on Your Device</h3>

<p>We store certain information that is required for the use of the Services
on your hard drive or device when you download the App. This information includes:</p>

<ul>
  <li>Information regarding your Digital Wallet, your internet connection and our software,
  which is uploaded to the server when you access your account in connection with your use of the Services</li>
  <li>Meta Data files, which optimize the speed and performance of the Services</li>
  <li>Cookies</li>
  <li>Plug-ins necessary for the App to operate on the web browser of your choice, such as a Chrome plug-in</li>
  <li>When the App is available on mobile devices, native apps will be stored</li>
</ul>

<h3>How We Process The Information We Collect</h3>

<p>We process your personal and non-personal information, both individually and aggregated, in the following ways:</p>

<h4>To administer your account and provide the Services to you:</h4>

<ul>
  <li>Set up and maintain your account and Digital Wallet</li>
  <li>Communicate with you</li>
  <li>To respond to your questions and to try to resolve any problems with the Services</li>
  <li>To complete transactions you initiate</li>
  <li>Identify, fix and troubleshoot bugs and service errors;</li>
  <li>Provide software updates;</li>
  <li>Enable third-party service providers to deliver information and updates</li>
</ul>

<h4>To improve the Services and develop new ones:</h4>

<ul>
  <li>Administer surveys</li>
  <li>Analyze and understand our visitors and users, improve our Services (including our user interface) and optimize content and/or feature selection, recommendations and delivery</li>
  <li>Develop new features and services</li>
  <li>Measure the health of the Services</li>
  <li>Research</li>
</ul>

<h4>To prevent, detect and fight fraud or other illegal or unauthorized activities</h4>

<ul>
  <li>Address ongoing or alleged misbehavior</li>
  <li>Research and analyze data to better understand and design countermeasures against these activities</li>
  <li>Retain data related to fraudulent activities to prevent recurrences</li>
</ul>

<h4>To enable legal compliance</h4>

<ul>
  <li>Comply with legal requirements</li>
  <li>Enforce or exercise our rights</li>
</ul>

<h4>To personalize our communication with you, including to:</h4>

<ul>
  <li>Respond to your requests and inquiries</li>
  <li>Communicate with you regarding the Services</li>
  <li>Make recommendations to you</li>
</ul>

<h4>To process your information, as described above, we rely on the following:</h4>

<ul>
  <li>Provide the Services to you: We process your information to perform the contract 
  (Terms of Service) that you have with us</li>
  <li>Legitimate interests: We use your information for legitimate business interests when permitted by law. 
  For example, we analyze users’ behavior on the Services to improve them and for administrative,
  fraud detection and legal purposes. In the future, we may use your information for direct marketing purposes.</li>
  <li>Consent: We may ask for your consent to use your information for certain specific reasons.</li>
  <li>You may withdraw your consent at any time by contacting us using the contact information provided at the
  end of this Privacy Policy.</li>
</ul>

<h3>How We Share Your Information</h3>

<span>We may share information collected through the Services as follows:<span>

<h4>Third Party Service Providers</h4>

<p>We share information with our third-party service providers that help us operate the Services,
such as by providing customer service, IT services, product support or testing, and strengthening security measures.
In the course of providing such services these service providers may have access to your personal information.
We do not authorize service providers to use your personal information except in connection with providing services.</p>

<h4>Protection of Puzzle and Others</h4>

<p>We and our third party service providers may disclose and otherwise
use your personal information where we or they reasonably believe such disclosure is needed to:</p>

<ul>
  <li>Satisfy any law or regulation</li>
  <li>Respond to a lawful request from a public authority, including law enforcement or national security authorities, or legal process</li>
  <li>Enforce applicable terms of use, including applicable violations thereof</li>
  <li>Detect, prevent or otherwise address illegal or suspected illegal activities (including to report such activity), security or technical issues</li>
  <li>Protect against harm to the health and/or safety of you, another person or the public generally</li>
  <li>Protect the rights or property of Puzzle, its users or the public as required or permitted by law</li>
</ul>

<h4>Corporate Transactions/ Business Transfers</h4>

<p>In connection with any business transition (including a proposed transaction),
like a merger or sale, acquisition by another company, reorganization, restructuring or transfer of assets, bankruptcy,
dissolution or other change of ownership or control we may disclose or transfer all of your information,
including personal information.</p>

<h4>Other lawful disclosure</h4>

<p>We may share your information if (i) disclosure could mitigate Puzzle’s liability in an actual or threatened lawsuit,
(ii) as necessary to protect legal rights of our users, customers, business partners or other interested parties,
(iii) to pursue available remedies or limit the damages, (iv) to enforce our agreements (including the Terms of Service) and
(v) to respond to an emergency.</p>

<h4>With your consent</h4>

<p>With your consent, we may share your information from the Services
in ways not specifically described in this Privacy Policy.</p>

<h4>Aggregated and Anonymous Information</h4>

<p>We may process aggregated personal information about you
(information about you and other users that is aggregated with information about other users that
is not intended to specifically identify you) and anonymous data (aggregated or not)
about you in order to analyze and produce statistics related to the habits,
usage patterns, and demographics of users as a group or as individuals.
We may share this information with third parties without limitation on such
third parties’ use of the information. We may disclose or publish this data (aggregated or not)
for industry analysis demographic profiling, marketing, analytics, advertising, and other business purposes.</p>

<h3>Cross Border Data Transfers</h3>

<p>Sharing information sometimes involves cross-border transfers. Your personal information may therefore be transferred to,
stored and processed in the United States and other countries where we and our partners and service providers operate.
For example, if the Services are available to users in the European Economic Area (“EEA”),
these users’ personal information is transferred to countries outside of the EEA to the US or other jurisdictions.
Please be aware that these countries may have data protection laws that are more or less protective than the
laws of the country where you live. We use safeguards approved by the European Commission to legitimize data
transfers from the EEA to other countries.</p>

<h3>How to Access, Manage, and Update Your Information</h3>

<h4>Choice/Opt-out</h4>

<p>When we begin promotional communication, we will give you the option to receive promotional email communications from us.
Users will be able to opt-out of these communications. If you do not want to receive these non-transactional communications
you will be able to opt-out of the communications by selecting “unsubscribe” on any email.
Please note that once we receive your request, it may take an additional period of time for your opt-out to become effective.
Your unsubscribe or email preference change will be processed promptly, and in no event longer than ten business days.</p>

<p>If we begin sending promotional SMS messages, you will be able to opt-out of receiving SMS messages
(for example text messages) by texting back STOP to the number we send the text from for that particular SMS message program.
In some cases, we will include a preferences management page. When we receive an opt-out message from you for SMS messages,
we may send a message confirming our receipt of your opt-out.</p>

<p>When you install our App on a mobile device, you will be able to choose to receive push notifications,
which are messages an app sends you on your mobile device when the app is not on. You will be able to turn off notifications
by visiting your mobile device’s “settings” page.</p>

<h4>Opting out of Geolocation</h4>

<p>If you would like to stop allowing us to access your geolocation data,
you can stop making geolocation available to us on your mobile device by changing the settings on your mobile device.
We may still be able to get some location information using your IP address and other information provided to us
by third-parties.</p>

<h4>Opting out of Cookie Tracking</h4>

<p>You can set your web browser to warn you about attempts to place cookies on your computer
or limit the type of cookies you allow. If you disable cookies you may lose your ability to access some of the
Services because cookies are necessary to track and enhance some of the Services.</p>

<h4>Corrections, Updates and Removal of Personal Information</h4>

<p>If you are concerned about the accuracy or legality of personal information we maintain or wish to review,
access, supper, amend or correct it, would like your personal information removed from our
records or otherwise deactivated, or would like to receive an electronic copy of your personal information of
transmitting it to another company (if this right to data portability is provided to you by law) you can:</p>

<ul>
  <li>Change your settings on your device to either consent or withdraw consent to the collection of certain information. As discussed above, if you do this you may lose some or all functionality related to the Services</li>
  <li>Delete your account</li>
  <li>Contact us at privacy@secretnodes.org with your request.</li>
</ul>

<p>In your request, please make clear what personal information you would like to have changed,
whether you would like to have your personal information suppressed form our database, or other limitations
you would like to put on the use of your personal information. For your protection, we will only fulfill
requests for personal information associated with the email address associated with your account.
We may need to verify your identity before fulfilling your request.</p>

<p>We will consider all such requests in accordance with applicable law. We may decline requests
that are unreasonably repetitive, require disproportionate technical effort or expense, or jeopardize the privacy of others.</p>

<p>Please note that we often need to retain certain data for recordkeeping purposes and/or
to complete any transaction that you began prior to requesting a change or deletion,
our databases also may have residual data which we do not remove. We will not allow you to review certain data for legal,
security or other reasons.</p>

<p>If at any time you believe that we have not adhered to this Privacy Policy,
please let us know. We will use good faith efforts to determine and resolve the problem.</p>

<p>If you are an EEA resident, you have the right to lodge a complaint with the data protection
authority privacy@secretnodes.org about how we process your personal information.</p>

<p>If you are a California resident, California Civil Code Section 1798.83 permits individual California
residents to request certain information regarding our disclosure of personal information to third parties
for their direct marketing purposes. To make such a request, please contact us at privacy@secretnodes.org.</p>

<h3>Children Privacy</h3>

<p>The Services are not directed or intended for use by minors and we will not knowingly collect personal information
from any person under the age of 13. Children under the age of 13 should not use the App or access or use the
Services at any time. Consistent with the requirements of the Children’s Online Privacy Protection Act,
if we learn that we have inadvertently gathered personal information from a child under 13 without his
or her parent’s or legal guardian’s verified consent, we will take reasonable measures to promptly
remove that information from our records and will use that information only to respond to that child
(or his or her parent or legal guardian) to inform the child that he or she cannot use the App or access or use the Services.</p>

<p>Parents or legal guardians who are concerned about the transfer of personal information
from their children may contact us at privacy@secretnodes.org.</p>

<h3>Privacy Policies of Linked Third-Party Services and Advertisers</h3>

<p>The Services may include links to third party websites and services that are not
operated by us. When you click these links, you will be directed away from the Services.
External websites and companies with links to and from the Services may collect personal
information about users when users visit their websites. A link to or from a third party website or service
does not mean that we endorse it, or the quality of accuracy or information presented on it.
If you decide to visit a third-party website or service, you are subject to its privacy practices and not ours.
This Privacy Policy does not apply to any personal information that you provide to these other websites and services.
We are not responsible for their privacy practices or the content of their third-party services.
Please refer directly to these companies and websites regarding their privacy policies and how they use your information.</p>

<h3>Storage and Security of Personal Information</h3>

<p>We take precautions intended to protect the information we collect and store,
no website or internet transmission is completely secure. This means we cannot guarantee the
security of your information transmitted to or through the Services and do not assume any responsibility
for the unauthorized access to your information under our control. Any transmission is at your own risk
and we expect that you will use appropriate security measures to protect your information.</p>

<p>You are responsible for maintaining the security of your account and your Digital Wallet,
including the device on which your store your Digital Wallet. Access to the Services through your account
is treated as authorized by you. Unauthorized access to password-protected or secure areas is prohibited and may
lead to criminal prosecution. We may suspend your use of all or part of the Services without notice if we suspect or
detect any breach of security.</p>

<p>We keep your personal information in identifiable form only (i) as long as we need it for
lawful purpose for which we collected it, or if longer, (ii) to comply with law, or (iii) to resolve
disputes and to enforce agreements with you.</p>

<h3>Changes to Our Privacy Policy</h3>

<p>The effective date of this Privacy Policy is set forth at the top of this policy.
Our privacy policy may change from time to time. We will post any changes on this page and,
if the changes are material, we will tell you and other users of the change by placing a notice on the webpage
or by sending you a notice to the email address we have on file for you prior to change becoming effective.
You should periodically check the App and this privacy page for updates. Your continued use of the Services after
the effective date of any new privacy policy constitutes acceptances of the amended privacy policy.
The amended privacy policy will supersede all prior privacy policies.</p>

<h3>Contacting Us</h3>

<p>If you have any questions, comments or concerns regarding our Privacy Policy or practices,
please contact us at privacy@secretnodes.org.</p>