.admin-chain-show {
  table {
    th { white-space: nowrap; }
    @include media-breakpoint-up(md) {
      th { min-width: 150px; }
    }
  }

  .chain-status {
    flex-direction: column;
    align-items: flex-start;
    form {
      margin-top: 8px;
      margin-left: 0;
    }
    .sync-status {
      white-space: nowrap;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      .sync-status {
        margin-right: 20px;
      }
      form {
        margin-top: 0px;
        margin-left: 10px;
      }
    }
  }

  .rpc-host-edit {
    flex-direction: column;
    align-items: flex-start;
    input.btn { margin: 8px 0; }
    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
      input.btn { margin: 0; }
    }
  }

  .faucet-line {
    display: flex;
    align-items: center;
  }
}
