<% content_for :body_class, 'accounts-index' %>

<%= render partial: '/common/shared/chain_header', locals: { summary_link: true, contracts_link: true, transactions_link: true, swaps_link: true } %>

<div class='row'
  class="transactions-table-container"
  data-controller="transaction-refresher"
  data-transaction-refresher-url="<%= namespaced_path('accounts', { chain: @chain, partial: true } ) %>"
  data-transaction-refresher-refresh-interval="30000"
>
  <%= render partial: 'accounts_table', locals: { accounts: @accounts, chain: @chain } %>
</div>