<% content_for :body_class, 'block-show' -%>
<% if @type == "swaps"
  locals = { summary_link: true, transactions_link: true, accounts_link: true }
  url = "#{namespaced_path( 'swaps', partial: true, page: @page, chain: @chain )}"
 else
  locals = { summary_link: true, swaps_link: true, accounts_link: true }
  url = "#{namespaced_path( 'transactions', partial: true, page: @page, chain: @chain )}"
 end
 %>

<%= render partial: '/common/shared/chain_header', locals: locals %>

<div
  class="transactions-table-container"
  data-controller="transaction-refresher"
  data-transaction-refresher-url="<%= url %>"
  data-transaction-refresher-refresh-interval="30000"
>
  <%= render partial: 'transactions_table', locals: { transactions: @transactions, decorated_txs: @decorated_txs, transactions_total: @transactions_total, type: @type, page: @page }%>
</div>