.gov-proposals {
  box-shadow: $box-shadow;
}

.gov-proposals-table-header {
  margin-top: 0px;
  background: $primary;
  color: white;
  padding: 4px 6px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  h4 {
    max-width: 100%;
    margin-top: 6px;
    margin-bottom: 2px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.gov-proposals-table {
  margin: 0 auto 0 auto;

  .dataTables_wrapper {
    overflow-x: auto;
    .dataTables_info {
      display: block;
      width: 100%;
      padding: 10px 10px;
      font-size: $font-size-sm;
      color: $gray-300;
    }
  }

  table.dataTable {
    width: 100%;
    &.no-footer {
      border-bottom: 0;
    }

    tbody {
      tr.odd {
        background-color: $gray-100;
      }
      tr {
        td { border-bottom: 1px solid $gray-200; }
        &:last-child {
          td { border-bottom: none; }
        }
      }
      td.timestamp {
        white-space: nowrap;
        font-size: $font-size-sm;
      }
    }

    thead {
      th {
        padding: 4px 6px;
        background-color: $primary;
        color: white;
        border-bottom: none;
      }
    }
  }
}
