table.dataTable thead .sorting {
  background-image: image-url('datatables/media/images/sort_both.png');
}
table.dataTable thead .sorting_asc {
  background-image: image-url('datatables/media/images/sort_asc_disabled.png');
}
table.dataTable thead .sorting_desc {
  background-image: image-url('datatables/media/images/sort_desc_disabled.png');
}
table.dataTable thead .sorting_asc_disabled {
  background-image: image-url('datatables/media/images/sort_asc_disabled.png');
}
table.dataTable thead .sorting_desc_disabled {
  background-image: image-url('datatables/media/images/sort_desc_disabled.png');
}
