// label {
//   font-family: $font-family-sans-serif;
// }
.technical {
  font-family: $font-family-monospace;
  word-wrap: break-word;
}

.text-sm {
  font-size: $font-size-sm;
}
.text-md {
  font-size: $font-size-base * 1.1;
}
.text-lg {
  font-size: $font-size-lg;
}

.technical.text-lg {
  font-size: $font-size-lg * 1.1;
}
